.header {
  width: 250px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure components within header are spaced */
  height: 100%; /* Expand the header to take the full height */
  overflow: auto;
}
