<div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <label for="newPassword">New Password:</label>
      <input id="newPassword" formControlName="newPassword" type="password" />
      
      <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
  
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  