.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.delete-button {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
