<div class="change-username-container">
    <form [formGroup]="changeUsernameForm" (ngSubmit)="onSubmit()">
      <label for="newUsername">New Username:</label>
      <input id="newUsername" formControlName="newUsername" type="text" />
      
      <button type="submit" [disabled]="!changeUsernameForm.valid">Change Username</button>
  
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  