<div>
  <form [formGroup]="noteForm">
    <input formControlName="title" placeholder="Title" />
    <div formArrayName="contents">
      <div *ngFor="let content of contents.controls; let i = index" class="content-item">
        <textarea 
          [formControlName]="i"
          (keydown)="handleKeyDown($event, i)"
          #noteContent
        ></textarea>
        <button type="button" (click)="deleteContentField(i)">x</button>
        <app-dropdown
          *ngIf="showDropdown && noteContent === noteContentElements.toArray()[i].nativeElement"
          [options]="dropdownOptions"
          [show]="showDropdown"
          [highlightedIndex]="highlightedIndex"
          (optionSelected)="selectDropdownOption($event, i)"
        ></app-dropdown>
      </div>
    </div>
  </form>
</div>
